<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать корабль</title>
    <button onclick="window.history.back()">Назад</button>
</head>
<body>
    <h1>Редактировать корабль</h1>
    <form method="POST">
        <label for="ship_name">Название:</label>
        <input type="text" id="ship_name" name="ship_name" value="{{ ship.name }}" required>
        <button type="submit">Сохранить изменения</button>
    </form>
    <form method="POST" action="{{ url_for('delete_ship', ship_id=ship.id) }}">
        <button type="submit">Удалить корабль</button>
    </form>
</body>
</html>

