<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать рыбака</title>
</head>
<body>
    <h1>Редактировать рыбака</h1>
    <a href="{{ url_for('get_fishermen') }}">Назад к списку рыбаков</a>

    <form method="POST">
        <label for="full_name">ФИО:</label>
        <input type="text" id="full_name" name="full_name" value="{{ fisherman.full_name }}" required>
        <br>
        <button type="submit">Сохранить изменения</button>
    </form>
</body>
</html>

