<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать рыбу</title>
    <button onclick="window.history.back()">Назад</button>
</head>
<body>
    <h1>Редактировать рыбу</h1>
    <form method="POST">
        <label for="fish_name">Название:</label>
        <input type="text" id="fish_name" name="fish_name" value="{{ fish.name }}" required>
        <button type="submit">Сохранить изменения</button>
    </form>
    <form method="POST" action="{{ url_for('delete_fish', fish_id=fish.id) }}">
        <button type="submit">Удалить рыбу</button>
    </form>
</body>
</html>

